body {
  background-color: #090b1a;
  padding: 50px 20px; }
  body .card {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #1b1938;
    color: white;
    border-radius: 8px;
    overflow: hidden; }
    body .card-img {
      width: 100%;
      height: 250px; }
      body .card-img img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
    body .card-content {
      padding: 30px 25px;
      text-align: center; }
      body .card-content .content-title {
        font-size: 24px; }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }
