$color-blue-dark: hsl(233, 47%, 7%);
$color-blue: hsl(244, 38%, 16%);
$color-blue-light: hsl(277, 64%, 61%);

$color-white: hsl(0, 0%, 100%);
$color-white-light: hsla(0, 0%, 100%, 0.75);
$color-white-lighter: hsla(0, 0%, 100%, 0.6);

body {
  background-color: $color-blue-dark;
  padding: 50px 20px;

  .card {
    background-color: $color-blue;
    border-radius: 8px;
    color: $color-white;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    max-width: 400px;
    overflow: hidden;

    &-img {
      background-color: $color-blue-light;
      height: 250px;
      width: 100%;


      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        mix-blend-mode: multiply;
        filter: opacity(0.8);
      }
    }

    &-content {
      font-family: 'Lexend Deca', sans-serif;
      padding: 30px 25px;
      text-align: center;

      .content-title {
        font-size: 24px;
      }

      .content-description {
        color: $color-white-light;
      }

      .content-stats {
        display: flex;
        flex-direction: column;

        .stat-title {
          color: $color-white-lighter;
        }

        .stat-description {
          text-transform: uppercase;
        }
      }
    }

    .accent {
      color: $color-blue-light;
    }
  }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }